@model DAMS.Models.Purchase

@{
    ViewData["Title"] = "Create";
}

<h2>Please enter the details to confirm your order.</h2>

<hr />
<div class="row">
    <div >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Selling_ID" class="control-label"></label>
                <input asp-for="Selling_ID" class="form-control" />
                <span asp-validation-for="Selling_ID" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Patient_ID" class="control-label"></label>
                <input asp-for="Patient_ID" value="@ViewBag.Data.User_ID" class="form-control" />
                <span asp-validation-for="Patient_ID" class="text-danger"></span>
            </div>
            <div class="form-group Gap-Bottom">
                <input asp-for="Requested_Quantity" class="form-control width" placeholder="Enter number of medicine you want."/>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Request_Status" class="control-label"></label>
                <input asp-for="Request_Status" value="Pending" class="form-control" />
                <span asp-validation-for="Request_Status" class="text-danger"></span>
            </div>
            <div class="form-group display Gap-Bottom">
                <label asp-for="Delivery_Date" class="control-label Gap-2 Gap-Top"><b>Delivery Date</b></label>
                <input asp-for="Delivery_Date" type="date" class="form-control width Gap" />
                <label asp-for="Delivery_Time" class="control-label Gap-2 Gap-Top"><b>Delivery Time</b></label>
                <input asp-for="Delivery_Time" type="time" class="form-control width" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
