html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.width {
    width: 30%;
}

.display {
    display: flex;
}

.Gap {
    margin-right: 50px;
}

.Gap-2 {
    margin-right: 5px;
}

.Gap-Left {
    margin-left: 197.5px;
}

.Gap-Left-1 {
    margin-left: 20px;
}

.Gap-Left-2 {
    margin-left: 91.7%;
}

.Gap-Left-3 {
    margin-left: 56%;
}

.Gap-Top {
    margin-top: 5px;
}

.readonly {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

    .centered-form .form-group {
        width: 100%;
        position: relative;
        margin-bottom: 1.5rem;
    }

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.heading-padding {
    padding-bottom: 20px;
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
}

.icon-container-1 {
    position: relative;
    display: flex;
    align-items: center;
}

    .icon-container-1 i {
        position: absolute;
        left: 10px;
        color: #aaa;
    }

    .icon-container-1 input {
        padding-left: 35px;
    }

.center-button {
    display: flex;
    justify-content: center;
}

.icon-container i {
    position: absolute;
    left: 10px;
    color: #aaa;
}

.icon-container input {
    padding-left: 35px;
}
