@model DAMS.Models.User

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container centered-content">
    <h1 class="heading-padding">Edit Your Credential Details</h1>
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="User_ID" hidden />
            <div class="form-group display">
                <label class="Gap Gap-Top">Your Personal Details</label>
                <input asp-for="First_Name" class="form-control width Gap" placeholder="First Name" />
                <input asp-for="Last_Name" class="form-control width" placeholder="Last Name" />
            </div>
            <br>
            <div class="form-group display">
                <select asp-for="Gender" class="form-control width Gap Gap-Left">
                    <option value="">Select your gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <input asp-for="Age" type="number" class="form-control width" placeholder="Enter your Age" />
            </div>
            <br>
            <div class="form-group display">
                <input asp-for="DOB" type="date" class="form-control width Gap Gap-Left" placeholder="Date of birth" />
                <input asp-for="Contact" type="number" class="form-control width" placeholder="Enter your contact" />
            </div>
            <br>
            <div class="form-group display">
                <input asp-for="CNIC" type="number" class="form-control width Gap Gap-Left" placeholder="Enter Your CNIC Number" />
                <input asp-for="Role" class="form-group width readonly" readonly />
            </div>
            <hr>
            <div class="form-group display">
                <label class="Gap-Top">Your Account Credentials</label>
                <div class="icon-container Gap-Left-1 Gap readonly">
                    <i class="fa-solid fa-envelope"></i>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter Your Email" readonly />
                </div>
                <div class="icon-container">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="Password" class="form-control " placeholder="Enter Your Desired Password" />
                </div>
            </div>
            <br>
            <div class="form-group Gap-Left-3 display">
                <a asp-action="Edit_Additional_Details" class="btn btn-success Gap-2" asp-route-id="@ViewBag.Data.User_ID">Change Additional Details</a>
                <input type="submit" value="Confirm" class="btn btn-success Gap-2" />
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@ViewBag.Data.User_ID">Delete</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
