@model DAMS.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Appointments" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Patient_ID"  class="control-label"></label>
                <input asp-for="Patient_ID" value="@ViewBag.Data.User_ID" class="form-control" />
                <span asp-validation-for="Patient_ID" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Doctor_ID" class="control-label"></label>
                <input asp-for="Doctor_ID" class="form-control" />
                <span asp-validation-for="Doctor_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_Date" class="control-label"></label>
                <input asp-for="Appointment_Date" type="date" class="form-control" />
                <span asp-validation-for="Appointment_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment_Time" class="control-label"></label>
                <input asp-for="Appointment_Time" type="time" class="form-control" />
                <span asp-validation-for="Appointment_Time" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Appointment_Status" class="control-label"></label>
                <input asp-for="Appointment_Status" value="Pending" class="form-control" />
                <span asp-validation-for="Appointment_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
