@model DAMS.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<div>
    <div>
        <h1>Enter your desired Date & Time to reserve an appointment.</h1>
        <hr />
        <form asp-controller="Appointments" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Patient_ID"  class="control-label"></label>
                <input asp-for="Patient_ID" value="@ViewBag.Data.User_ID" class="form-control" />
                <span asp-validation-for="Patient_ID" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Doctor_ID" class="control-label"></label>
                <input asp-for="Doctor_ID" class="form-control" />
                <span asp-validation-for="Doctor_ID" class="text-danger"></span>
            </div>
            <div class="form-group display">
                <label class="Gap-2 Gap-Top">Appointment Date</label>
                <input asp-for="Appointment_Date" type="date" class="form-control width" />
                <label class="Gap-2 Gap-Top Gap-Left-1">Appointment Time</label>
                <input asp-for="Appointment_Time" type="time" class="form-control width" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="Appointment_Status" class="control-label"></label>
                <input asp-for="Appointment_Status" value="Pending" class="form-control" />
                <span asp-validation-for="Appointment_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
