@model DAMS.Models.Medicine

@{
    ViewData["Title"] = "Create";
}


<div>
    <div>
        <h1>Add a new medicine to DAMS database</h1>
        <h4>Notice: A medicine can only be added to the database if it doesn't exist.</h4>
        <hr>
        <form asp-route-User_ID="@ViewBag.Data.User_ID" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group display Gap-Bottom">
                <input asp-for="Medicine_Name" class="form-control width Gap" placeholder="Enter the name of medicine"/>
                <input asp-for="Medicine_Description" class="form-control width" placeholder="Enter description for new medicine"/>
            </div>
            <div class="form-group display Gap-Bottom">
                <input asp-for="Category" class="form-control width Gap" placeholder="Enter medicine's category"/>
                <input asp-for="Medicine_Weightage" class="form-control width" placeholder="Enter medicine's weightage"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
