@model DAMS.Models.Medicine_Model_.Medicine

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Validation">
            <div class="form-group">
                <label asp-for="Medicine_Name" class="control-label"></label>
                <input asp-for="Medicine_Name" class="form-control" />
                <span asp-validation-for="Medicine_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicine_Description" class="control-label"></label>
                <input asp-for="Medicine_Description" class="form-control" />
                <span asp-validation-for="Medicine_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Medicine_Weightage" class="control-label">Medicine_Weightage</label>
                <input for="Medicine_Weightage" class="form-control" />
                <span validation-for="Medicine_Weightage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Medicine_Price" class="control-label">Medicine_Price</label>
                <input for="Medicine_Price" class="form-control" />
                <span validation-for="Medicine_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
