@model DAMS.Models.Driver

@{
    ViewData["Title"] = "Create";
}

<h1>Enter your vehicle details to complete signup.</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Drivers" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="User_ID" class="control-label"></label>
                <input asp-for="User_ID" class="form-control" />
                <span asp-validation-for="User_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Vehicle_Category" class="form-control">
                    <option value="">Select your vehicle type</option>
                    <option value="Motorcycle">Motorcycle</option>
                    <option value="Car">Car</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle_Name" class="control-label"></label>
                <input asp-for="Vehicle_Name" class="form-control" />
                <span asp-validation-for="Vehicle_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number_Plate" class="control-label"></label>
                <input asp-for="Number_Plate" class="form-control" />
                <span asp-validation-for="Number_Plate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" value="0" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group Gap-Top">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
